.titulo{

    margin-bottom:25px;

}

.cards{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

}

.card{

    background:white;

    border-radius:12px;

    padding:25px;

    box-shadow:0 3px 10px rgba(0,0,0,.08);

}

.card h3{

    color:#777;

    margin-bottom:15px;

}

.card h2{

    color:#0d8b72;

    font-size:35px;

}

.bienvenida{

    margin-top:35px;

    background:white;

    padding:30px;

    border-radius:12px;

    box-shadow:0 3px 10px rgba(0,0,0,.08);

}